<!-- accessible from controller by simply directing to @user -->
<% provide(:title, @user.name) %>
<h1 id="name">
	  <%= gravatar_for @user, size: 52 %>
		<%= @user.name %>
</h1>

<% if current_user.admin? && !current_user?(@user) %>
	<button type="button" class="btn btn-primary" id="WineButton"><%= link_to 'Add a Wine', new_wine_path %></button>
<% end %>	

<div class="span8">
	<% if @user.comments.any? %>
	<h3>Comments</h3>
	<ol class="comments">
		<%= render @comments %>
	</ol>
	<%= will_paginate @comments %>
	<% end %>
</div>
