<% provide(:title, "All Wines") %>

<div class="panel panel-default">
	<div class="panel-heading"><h1>All Wines</h1>
		<div class="panel-body">
			<% if current_user.admin? && !current_user?(@user) %>
				<button type="button" class="btn btn-primary" id="WineButton"><%= link_to 'Add a Wine', new_wine_path %></button>
			<% end %>				
			<h4>Find a Wine</h4>
				<div class="row">
					<div class="col-md-5">

						<%= search_form_for @search do |f| %>
						<%= f.label :name_or_place_cont %>
						<%= f.text_field :name_or_place_cont %>
						<%= f.label :description_cont %>
						<%= f.text_field :description_cont %>
						<%= f.label :vintage %>
						<%= f.text_field :vintage_eq %>

						<%= f.submit %>
				<% end %>
				</div>
			</div>

				<%= will_paginate %>

		<table class="table table-hover table-responsive">
			<thead>

    		<th><%= sort_link @search, :name, {}, :method => action_name == 'advanced_search' ? :post : :get %></th>
     		<th><%= sort_link @search, :country, {}, :method => action_name == 'advanced_search' ? :post : :get %></th>
    		<th><%= sort_link @search, :vintage, {}, :method => action_name == 'advanced_search' ? :post : :get %></th>
    		<th><%= sort_link @search, :price, {}, :method => action_name == 'advanced_search' ? :post : :get %></th>
  		</thead>
  		<tbody>
				<%= render @wines %>
			</tbody>
		</table>

				<%= will_paginate %>	
	
		</div>
	</div>
</div>
