<% provide(:title, "Add a Wine") %>
<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<h1>Add a Wine</h1>

		<%= form_for(@wine) do |f| %>

		<%= render 'shared/error_messages', object: f.object %>

			
			
			<%= f.label :producer %>
			<%= f.text_field :producer %>

			<%= f.label :name %>
			<%= f.text_field :name %>

			<%= f.label :varietal %>
			<%= f.text_field :varietal %>

			<%= f.label :place %>
			<%= f.text_field :place %>

			<%= f.label :country %>
			<%= f.text_field :country %>

			<%= f.label :vintage %>
			<%= f.text_field :vintage %>

			<%= f.label :description %>
			<%= f.text_area :description, placeholder: "Add a description" %>

			<%= f.label :price %>
			<%= f.text_field :price %>

			<%= f.submit "Add Wine", class: "btn btn-large btn-primary" %>

			<% end %>
	</div>
</div>